@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fallAnimation {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fall-in {
  animation: fallAnimation 3s ease-out forwards;
}

